# Mac & Linux System Files
.DS_Store

# Python / Flask
backend/flask_service/venv/
backend/flask_service/__pycache__/
backend/flask_service/*.pyc
backend/flask_service/.env

# Flutter
apps/user_mobile/.dart_tool/
apps/user_mobile/.idea/
apps/user_mobile/build/
apps/user_mobile/ios/Pods/
apps/user_mobile/ios/.symlinks/
apps/user_mobile/android/.gradle

# Firmware
firmware/esp32-cam/.pio/
firmware/esp32-cam/.vscode/

# Machine Learning
*.zip
ml_pipeline_Obstacle_det/dataset/

# Visual Studio / VS Code Junk
.vs/
.vscode/
*.slnx
*.sqlite
CMakeWorkspaceSettings.json

**/augmented_data/
**/preprocessed_data/
drishti_final_dataset/

# YOLOv11 Training Outputs
**/runs/
**/*.pt
**/Drishti_Training/


# Ignore the specific split and augmented folders
**/drishti_final_split/



# Ignore local datasets
ml_pipeline_Obstacle_det/dataset/
ml_pipeline_Obstacle_det/drishti_final_dataset/

# Ignore the virtual environment (to keep repo small)
drishti_env/

# Ignore raw test videos
vedios/

# Ignore generated detection outputs
output_videos/

# Ignore raw test data
drishti-final/test_images/
drishti-final/detection_results/
drishti-final/output_lives/

# Ignore local python environment and cache
__pycache__/
.ipynb_checkpoints/
