gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
**/build/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# Secret Keys and Credentials
*.pem
*.key
*secret*.json
*admin*.json
*credentials*.json
firebase-adminsdk.json
serviceAccountKey.json
google-services.json